body {
    background-image: url(images/TiffinPlanet.jpg);
    background-attachment: fixed;
    background-size: cover;
    
}

.card-deck {
    margin-bottom: 60px;
    margin-top: 60px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}

.header {
    margin: 100px 200px 100px;
}

h1 {
    
    font-family: 'Lobster', cursive;
    text-align: center;
    color: bisque;
}

h3,p,ul,a {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #4d3e3e;
}

ul,p {
    color: #ba7967;
}



